.wrapper {
    width: 100%;
    background: white;

    .title {
        text-align: center;
        padding-top: 2em;
    }

    .scoreContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow: hidden;

        .scoreCard {
            width: 30%;
            border-radius: 20px;
            padding: 20px;

            .topCard {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap-reverse;
                justify-content: space-between;

                .accuracy {
                    font-weight: 700;
                    font-size: 1em;
                }
            }

            .percentage {
                font-size: 30px;
            }

            .endCard {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .endSubCard {
                    color: gray;
                    font-size: 12px;
                    display: inline-flex;
                    flex-direction: row;
                    gap: 1em;
                }
            }
        }
    }



    .buttonWrapper {
        padding: 1%;
        display: flex;
        justify-content: center;
        gap: 2em;
        align-items: center;

        .noscoreText {
            font-size: 1em;
            color: gray;
        }

        .signinButton {
            border: none;
            background-color: rgba(0, 0, 0, 0.06);
        }

        .registerButton {
            color: white;
            background: #ef0107;
            font-weight: 600;
        }
    }


}

@media only screen and (max-width: 576px) {
    .wrapper .scoreContainer .scoreCard {
        width: 100%;
    }
}