.wrapper {
    width: 100%;
    overflow: hidden;
    background: #ffd000;
    padding-bottom: 5em;

    .heading {
        text-align: center;
        padding-top: 2em;
    }

    

    .leaderboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5% 20% 0% 20%;
        gap: 2em;

        .tableTitle {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.2em;
            font-weight: 600;
        }

        .tableTitleMob { display: none;}

        .leaderboardCard {
            border-radius: 20px;
            padding: 2em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: white;
            gap: 14em;

            

            .profile {
                display: flex;
                align-items: center;
                gap: 0.5em;

                .profilePic {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                }
            }

        }

    }


}

@media only screen and (max-width: 1092px ) {
    .wrapper {
        .leaderboard {

            .tableTitle {
                display: none;
            }

            .tableTitleMob {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 14px;
            }

            .leaderboardCard {
                gap: 1em;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .wrapper {
        .leaderboard {
            .tableTitle { 
                display: none;
            }

            .tableTitleMob {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }

            .leaderboardCard {
                gap: 1.5em;
                padding: 1em;
            }
        }

    }
}