.wrapper {
    .resultWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;

        .resultImage {
            width: 10em;
            height: 10em;
            border-radius: 20px;
        }
        .resultContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1em;
            text-align: justify;

            .content {
                font-size: 1.2em;
            }
        }
    }
}