.typingArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.typingContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  width: 80%;
  background-color: white;
  padding: 10px;
  height: 3.5em;
  border-radius: 20px;
  font-size: 2.5em;

  .typingText {
    display: inline-flex;
    flex-direction: row-reverse;
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    transform-origin: right;
    text-align: right;
    width: 50%;
    color: blue;
  }

  .typingText:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  .remainingText {
    width: 50%;
    color: black;
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    border: none;
  }

  .remainingText:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
}
