.wrapper {
    padding-top: 10%;
    background: #f6f6f7;
    height: 40rem;

    .topTitle {
        letter-spacing: 1em;
    }

    .mainTitle {
        font-size: 4em;
    }

    .contentSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        justify-content: space-around;
    }

    .counterSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-content: center;
        gap: 3em;

        .progressContent {
            font-weight: 600;
            color: black;
        }

        .progressSubContent {
            display: block;
            padding-top: 5px;
            font-weight: 350;
            font-size: 14px;
        }

        .counterSectionCard {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 3em;
        }

        .cardContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 0.4em;
            max-width: 100px;

            .cardItem {
                border-radius: 20px;
                font-size: 2rem;
                font-weight: 700;
                width: 3.5em;
                text-align: center;
            }
        }

        .instructionIcon {
            display: flex;
            align-items: center;

        }
    }
}

.instructionBox {
    width: 600px;
    padding: 2em;
    text-align: justify;
}

@media only screen and (max-width: 576px) {
    .wrapper {
        padding-top: 30%;
        height: 45rem;

        .mainTitle {
            font-size: 2rem;
        }

        .contentSection {
            gap: 2em;

        }

        .counterSection {
            .instructionIcon {
                display: none;
            }
        }
    }
}