.wrapper {

    .registerButton {
        color: white;
        background: #ef0107;
        font-weight: 600;
    }

    .formWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .formItem {
            margin-top: 1em;
            width: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .mismatchText {
                color: red;
                font-size: 0.8em;
            }
        }

        .formInput {
            width: 90%;
        }

        .textArea {
            width: 95%
        }
    }
}

@media only screen and (max-width: 576px) {
    .wrapper {
        .formWrapper {
            .formItem {
                width: 100%;
            }

            .textArea {
                width: 90%;
            }
        }
    }
}