.wrapper {
    display: block;
    position: fixed;
    padding-top: 1%;
    height: 10%;
    width: 100%;
    background: white;
    z-index: 10;

    .logo {
        height: 50px;
        width: 50px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;
        font-size: 1.2em;
        list-style-type: none;
        cursor: pointer;
    }

    .signinButton {
        border: none;
    }

    .registerButton {
        color: white;
        background: #ef0107;
        font-weight: 600;
    }

    @media only screen and (max-width: 576px) {
        .logo {
            display: block;
            margin-left: auto;
            margin-right: 5%;
        }
    }
}

.drawerNavMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-evenly;
    font-size: 1.2em;
    list-style-type: none;
    cursor: pointer;
    height: 80%;
}

.drawerNavSection {
    display: inline-flex;
    gap: 1em;
}

.drawerNavIcons {
    margin-top: 3px;
}

.drawerNavButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.drawerNavLogin {
    width: 45%;
    height: 3em;
    font-size: 600;
}

.drawerNavSignup {
    width: 45%;
    color: white;
    background: #ef0107;
    height: 3em;
    font-size: 600;
}

.profileCard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;

    .profileName {
        font-size: 1.2em;
        font-weight: 600;
    }
}