.wrapper {

    .loginButton {
        color: white;
        background: #ef0107;
        font-weight: 600;
    }

    .formWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .formItem {
            margin-top: 1em;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .formInput {
            width: 90%;
        }

        .textArea {
            width: 95%
        }
    }
}

@media only screen and (max-width: 576px) {
    .wrapper {
        .formWrapper {
            .formItem {
                width: 100%;
            }

            .textArea {
                width: 90%;
            }
        }
    }
}