.wrapper {
    background: #ffd000;
    padding: 5em 2em 0em 2em;

    .footerSection {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .mailContact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5em;
        /* background: red; */


            .content {
                width: 50%;
                text-align: justify;
            }

            .mailInput {
                height: 3em;
                width: 50%;
                background: white;
                border: none;
                border-radius: 10px;
                padding-left: 1em;
                color: black;
            }

            .subscribeButton {
                height: 3em;
                width: 50%;
                border: none;
                border-radius: 10px;
                background: black;
                color: white;
            }

            .inviteContent {
                width: 60%;
                text-align: justify;
            }

            .inviteInput {
                height: 3em;
                width: 60%;
                background: white;
                border: none;
                border-radius: 10px;
                padding-left: 1em;
                color: black;
            }

            .inviteButton {
                height: 3em;
                width: 60%;
                border: none;
                border-radius: 10px;
                background: black;
                color: white;
            }
        }
    }

    .footerImage {
        width: 350px;
        height: 300px;
    }
}

@media only screen and (max-width: 912px) and (min-width: 576px) {
    .wrapper {
        padding-bottom: 2em;

        .footerSection {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mailContact {
                align-items: center;
                margin-top: 5em;

                .content {
                    width: 70%;
                }

                .mailInput {
                    width: 70%;
                }

                .subscribeButton {
                    width: 70%;
                }

                .inviteContent {
                    width: 100%;
                }

                .inviteInput {
                    width: 100%;
                }

                .inviteButton {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .wrapper {
        padding-bottom: 2em;

        .footerSection {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mailContact {
                align-items: center;
                margin-top: 5em;

                .content {
                    width: 70%;
                }

                .mailInput {
                    width: 70%;
                }

                .subscribeButton {
                    width: 70%;
                }

                .inviteContent {
                    width: 70%;
                }

                .inviteInput {
                    width: 70%;
                }

                .inviteButton {
                    width: 70%;
                }
            }
        }
    }
}